﻿@using System.Web.Razor.Parser.SyntaxTree
@{
  ViewBag.Title = "Home Page";
}


<div class="header-banner-wrapper">
  <div class="header banner" style="background-image:url(https://www.firstnational.com/site/personal/wealth-investing/wealth-investing-banner.png);">
    <div class="content">

      <h1>Make an Appointment</h1>

      <p>Whatever your financial priorities or needs might be, First National Bank has the ideal selection of accounts, products and sound advice to help you meet your financial goals.</p>

    </div> <!-- content -->
  </div> <!-- header banner -->
</div> <!-- header-banner-wrapper -->


<a class="btn submit custbtn" href="@Url.Action("Create", "Appointment")">
  <span>Schedule<br>Appointment</span>
</a>


<a class="btn alternate" href="@Url.Action("Lookup", "Lookup")">
  <span>Lookup<br>Appointment</span>
</a>

<a class="btn submit custbtn" href="@Url.Action("TestEmail", "Appointment")">
  <span>Test<br>Email</span>
</a>
