﻿@model AppointmentScheduler.ViewModels.AppointmentView

@using System.Data.Entity.Core.Common.CommandTrees.ExpressionBuilder
@using System.Web.Razor.Parser.SyntaxTree

@{
  ViewBag.Title = "Home Page";
}

<div class="header-banner-wrapper">
  <div class="content">

    <h1>Make an Appointment</h1>

    <!-- fnbo progressbar -->
    <table class="progressbar" align="center" cellspacing="0" cellpadding="0" border="0" style="text-align:center;">
      <tr>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
      </tr>
      <tr>
        <td style="font-size:7.5pt;font-weight:bold;">
          Appointment Reason
        </td>
        <td style="font-size:7.5pt;">
          Location
        </td>
        <td style="font-size:7.5pt;">
          Date & Time
        </td>
        <td style="font-size:7.5pt;">
          Your Information
        </td>
        <td style="font-size:7.5pt;">
          Verify & Submit
        </td>
      </tr>
    </table>

    <h2>Appointment Type</h2>

    <p>
      How can we help you?
    </p>


    @using (Html.BeginForm("Create", "Appointment"))
    {
      @Html.HiddenFor(x => x.AppointmentId)
      @Html.HiddenFor(x => x.AppointmentTypeId)

      @Html.DropDownListFor(x => x.AppointmentTypeId, Model.AppointmentTypes, "--Select One--", new { @id = "ddlAppointmentType" })
      <br />
      <br />
      <br />
      
      <p><strong>Additional Comments: </strong><em>(Optional)</em></p>
      @Html.TextAreaFor(x => x.Notes, new { @class = "notebox", @placeholder = "(Do not include accounts numbers or other private information)" })

      <p></p>

      <a class="btn" href="@Url.Action("Index", "Home")">
        <span>Back</span>
      </a>


      //this needs to be a submit type for the form
      <input id="btnContinueReason" type="submit" value="Continue" class="btnsubmit" />
    }
  </div>
</div>

@section scripts {
  @Scripts.Render("~/bundles/Appointment/Create")
}
