﻿@using System.Activities.Expressions
@model AppointmentScheduler.ViewModels.AppointmentView

@{
  ViewBag.Title = "Home Page";
}

<div class="header-banner-wrapper">
  <div class="content">

    <h1>Make an Appointment</h1>

    <!-- fnbo progressbar -->
    <table class="progressbar" align="center" cellspacing="0" cellpadding="0" border="0" style="text-align:center;">
      <tr>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-check.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-check.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-check.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
      </tr>
      <tr>
        <td style="font-size:7.5pt;">
          Appointment Reason
        </td>
        <td style="font-size:7.5pt;">
          Location
        </td>
        <td style="font-size:7.5pt;">
          Date & Time
        </td>
        <td style="font-size:7.5pt;font-weight:bold;">
          Your Information
        </td>
        <td style="font-size:7.5pt;">
          Verify & Submit
        </td>
      </tr>
    </table>


    <h2>Your Information</h2>

    <p>
      Tell us who you are.
    </p>
    <br />

    @using (Html.BeginForm("CustomerInfo", "Appointment"))
    {
      @Html.HiddenFor(x => x.AppointmentId)
      @Html.HiddenFor(x => x.CustomerId)
      <div>
        @Html.CheckBoxFor(m => m.Customer.IsCurrentCustomer)
        @Html.LabelFor(m => m.Customer.IsCurrentCustomer, "Current Customer")

      </div>
      <br />

      <div>
        @Html.LabelFor(m => m.Customer.FirstName, "First Name:")
        @Html.TextBoxFor(m => m.Customer.FirstName)
      </div>
      <br />

      <div>
        @Html.LabelFor(m => m.Customer.LastName, "Last Name:")
        @Html.TextBoxFor(m => m.Customer.LastName)
      </div>
      <br />

      <div>
        @Html.LabelFor(m => m.Customer.Phone)
        @Html.TextBoxFor(m => m.Customer.Phone, new { @type="tel", @id="fieldPhone", @placeholder="(555) 555-1212"})
      </div>
      <br />

      <div>
        @Html.LabelFor(m => m.Customer.Email)
        @Html.TextBoxFor(m => m.Customer.Email)
      </div>
      <br />



      <a class="btn" href="@Url.Action("TimeDate", "Appointment")">
        <span>Back</span>
      </a>

      <input id="btnContinueCustInfo" class="btnsubmit" type="submit" value="Continue">
    }


  </div>
</div>

@section scripts {
  @Scripts.Render("~/bundles/Appointment/Create")
}