﻿@model AppointmentScheduler.ViewModels.AppointmentView

@using System.Web.Razor.Parser.SyntaxTree

@{
  ViewBag.Title = "Home Page";
}

<div class="header-banner-wrapper">
  <div class="content">

    <h2>Make an Appointment</h2>

    <!-- fnbo progressbar -->
    <table class="progressbar" align="center" cellspacing="0" cellpadding="0" border="0" style="text-align:center;">
      <tr>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-check.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
      </tr>
      <tr>
        <td style="font-size:7.5pt;">
          Appointment Reason
        </td>
        <td style="font-size:7.5pt;font-weight:bold;">
          Location
        </td>
        <td style="font-size:7.5pt;">
          Date & Time
        </td>
        <td style="font-size:7.5pt;">
          Your Information
        </td>
        <td style="font-size:7.5pt;">
          Verify & Submit
        </td>
      </tr>
    </table>


    <h2>Select a location</h2>

    <p>
      Where would you like to meet?
    </p>


    @using (Html.BeginForm("Location", "Appointment"))
    {
      @Html.HiddenFor(x => x.AppointmentId)
      @Html.HiddenFor(x => x.LocationId)

      @Html.DropDownListFor(x => x.LocationId, Model.LocationSelectList, "--Select One--", new { @id = "ddlLocation" })

      <div id="AppointmentLocations">
        @for (var i = 0; i < Model.Locations.Count; i++)
        {
          <div data-locationid="@Model.Locations[i].LocationId" id="LocationId_@Model.Locations[i].LocationId" style="display: none;">
            @Html.DisplayFor(x => Model.Locations[i], "Location")
          </div>
        }
      </div>
      <br />
      <br />
      <a class="btn" href="@Url.Action("Create", "Appointment")">
        <span>Back</span>
      </a>

      //this needs to be a submit type for the form
      <input id="btnContinueLocation" type="submit" value="Continue" class="btnsubmit" />
    }

  </div>
</div>

@section scripts {
  @Scripts.Render("~/bundles/Appointment/Location")
}