﻿@model AppointmentScheduler.ViewModels.AppointmentView

@Styles.Render("~/Content/DateTime")

@{
  ViewBag.Title = "Home Page";
}

<div class="header-banner-wrapper">
  <div class="content">
    <h1>Make an Appointment</h1>


    <!-- fnbo progressbar -->
    <table class="progressbar" align="center" cellspacing="0" cellpadding="0" border="0" style="text-align:center;">
      <tr>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-check.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-check.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
      </tr>
      <tr>
        <td style="font-size:7.5pt;">
          Appointment Reason
        </td>
        <td style="font-size:7.5pt;">
          Location
        </td>
        <td style="font-size:7.5pt;font-weight:bold;">
          Date & Time
        </td>
        <td style="font-size:7.5pt;">
          Your Information
        </td>
        <td style="font-size:7.5pt;">
          Verify & Submit
        </td>
      </tr>
    </table>

    @*<h2>Select a Date and Time</h2>

      <p>
        When do you want to come in?
      </p>

      <!----Calendar--->
      <script>
            $(function() {
              $( "#datepicker" ).datepicker();
            });
      </script>
      <p>Date: <input type="text" id="datepicker"></p>
      <!---End Calendar--->
      <!---Time--->
      <script>
            $(function() {
              $('#scrollDefaultExample').timepicker({ 'scrollDefault': 'now' });
            });
      </script>
      <div class="demo">
        <p>Time: <input id="scrollDefaultExample" type="text" class="time" /></p>
      </div>
      <!---End Time--->
      <br>

      <a class="btn submit custbtn" href="@Url.Action("Location", "Appointment")">
        <span>Back</span>
      </a>

      <a class="btn submit custbtn" href="@Url.Action("CustomerInfo", "Appointment")">
        <span>Continue</span>
      </a>*@

    <h2>Select a Date and Time</h2>

    <p>
      When do you want to come in?
    </p>

    @using (Html.BeginForm("TimeDate", "Appointment"))
    {
      @Html.HiddenFor(x => x.AppointmentId)

      @Html.DisplayNameFor(x => x.StartTime)
      <div class="input-group date" id="StartTimePicker">
        @Html.TextBoxFor(x => x.StartTime, new { @class = "form-control" })
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>

      <br />
      <br />
      <a class="btn" href="@Url.Action("Location", "Appointment")">
        <span>Back</span>
      </a>

      <input id="btnContinueLocation" type="submit" value="Continue" class="btnsubmit" />
    }
  </div>

</div>

@section scripts {
  @Scripts.Render("~/bundles/Appointment/TimeDate")
}


