﻿@model AppointmentScheduler.ViewModels.AppointmentView

@using System.Web.Razor.Parser.SyntaxTree
@{
  ViewBag.Title = "Home Page";
}

<div class="header-banner-wrapper">
  <div class="content">

    <h1>Make an Appointment</h1>


    <!-- fnbo progressbar -->
    <table class="progressbar" align="center" cellspacing="0" cellpadding="0" border="0" style="text-align:center;">
      <tr>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-check.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-check.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-check.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-check.gif" />
        </td>
        <td style="padding-top:5px;width:120px;">
          <img src="https://www.firstnational.com//common/iws/images/app/pm-nocheck.gif" />
        </td>
      </tr>
      <tr>
        <td style="font-size:7.5pt;">
          Appointment Reason
        </td>
        <td style="font-size:7.5pt;">
          Location
        </td>
        <td style="font-size:7.5pt;">
          Date & Time
        </td>
        <td style="font-size:7.5pt;">
          Your Information
        </td>
        <td style="font-size:7.5pt;font-weight:bold;">
          Verify & Submit
        </td>
      </tr>
    </table>

    <h2>Verify and Submit</h2>

    
    
    @Html.DisplayForModel("Appointment")

    


  </div>

  <a class="btn" href="@Url.Action("CustomerInfo", "Appointment")">
    <span>Back</span>
  </a>

  <a class="btn submit custbtn" href="@Url.Action("Confirmation", "Appointment")">
    <span>Submit</span>
  </a>





</div>