﻿@using AppointmentScheduler.ViewModels
@model AppointmentScheduler.ViewModels.AppointmentView

@Html.HiddenFor(x => x.AppointmentId)

<div>
  <dl class="dl-horizontal">
    <h3>
      <u>Personal Information:</u>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      @Html.ActionLink("Edit", "CustomerInfo", "Appointment", new { appointmentId = Model.AppointmentId }, null)
    </h3>

    <br />

    <dt>
      <strong>
        @Html.LabelFor(model => model.Customer.FirstName)
      </strong>
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Customer.FirstName)
    </dd>

    <br />

    <dt>
      <strong>
        @Html.LabelFor(model => model.Customer.LastName)
      </strong>
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Customer.LastName)
    </dd>

    <br />

    <dt>
      <strong>
        @Html.LabelFor(model => model.Customer.Email)
      </strong>
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Customer.Email)
    </dd>

    <br />

    <dt>
      <strong>
        @Html.LabelFor(model => model.Customer.Phone)
      </strong>
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Customer.Phone)
    </dd>

    <br />

    <dt>
      <strong>
        @Html.LabelFor(model => model.Notes)
      </strong>
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Notes)
    </dd>

    <br />
    <br />
    <br />

    <dt>
      <h3>
        <u>@Html.LabelFor(model => model.AppointmentTypes)</u>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Edit", "Create", "Appointment", new { appointmentId = Model.AppointmentId }, null)
      </h3>
    </dt>

    <dd>
      @Html.DisplayFor(model => model.AppointmentTypes)
    </dd>

    <br />
    <br />
    <br />

    <dt>
      <h3>
        <u>@Html.LabelFor(model => model.StartTime)</u>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Edit", "TimeDate", "Appointment", new { appointmentId = Model.AppointmentId }, null)
      </h3>
    </dt>

    <dd>
      @Html.DisplayFor(model => model.StartTime)
    </dd>

    <br />
    <br />
    <br />

    <dt>
      <h3>
        <u>@Html.LabelFor(model => model.Location.Name)</u>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Edit", "Location", "Appointment", new { appointmentId = Model.AppointmentId }, null)
      </h3>
    </dt>

    <dd>
      @Html.DisplayFor(model => model.Location.Name)
      <br />
      @Html.DisplayFor(model => model.Location.Address.Address1)
      @Html.DisplayFor(model => model.Location.Address.Address2)
      <br />
      @Html.DisplayFor(model => model.Location.Address.City),
      @Html.DisplayFor(model => model.Location.Address.State)
      @Html.DisplayFor(model => model.Location.Address.Zip)
    </dd>
    <br />
    <br />
    <br />

  </dl>
</div>