﻿@model AppointmentScheduler.ViewModels.LocationView

<dl class="dl-horizontal">
  
  @*<dd>
    @Html.DisplayFor(model => model.Name)
  </dd>*@
  <dd>
    @Html.DisplayFor(model => model.Address.Address1)
  </dd>
  <dd>
    @Html.DisplayFor(model => model.Address.City), 
    @Html.DisplayFor(model => model.Address.State) 
    @Html.DisplayFor(model => model.Address.Zip)
  </dd>
</dl>
