﻿@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="header-banner-wrapper">
  <div class="adminMainContent">




    <div>
      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("Search", "Admin")">
        <span>Search Appointments</span>
      </a>

      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("Reports", "Admin")">
        <span>Reports</span>
      </a>

      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("EditBranch", "Admin")">
        <span>Branch Info</span>
      </a>

    </div>


    <h2>Appointment Details</h2>

    <p>
      Name:
    </p>

    <p>
      Phone:
    </p>

    <p>
      Email:
    </p>

    <p>
      Date:
    </p>

    <p>
      Time:
    </p>

    <p>
      Appointment Type:
    </p>

    <p>
      Confirmation#:
    </p>

    <p>
      Notes:
    </p>


    <!--link buttons-->
    <a class="btn submit custbtn" href="@Url.Action("EditBranch", "Admin")">
      <span>Edit/Reschedule</span>
    </a>

    <a class="btn submit custbtn" href="@Url.Action("Cancel", "Admin")">
      <span>Cancel</span>
    </a>





  </div>
</div>