﻿@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="header-banner-wrapper">
  <div class="adminMainContent">


    <div>
      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("Search", "Admin")">
        <span>Search Appointments</span>
      </a>

      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("Reports", "Admin")">
        <span>Reports</span>
      </a>

      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("EditBranch", "Admin")">
        <span>Branch Info</span>
      </a>

    </div>

    <h2>Appointment Lookup</h2>

    <p>
      Are you sure you want to cancel this appointment?
    </p>

    <a class="btn submit custbtn" href="@Url.Action("AppointmentInfo", "Admin")">
      <span>Yes</span>
    </a>

    <a class="btn submit custbtn" href="@Url.Action("AppointmentInfo", "Admin")">
      <span>No</span>
    </a>




  </div>
</div>