﻿@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="header-banner-wrapper">
  <div class="adminMainContent">




    <div>
      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("Search", "Admin")">
        <span>Search Appointments</span>
      </a>

      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("Reports", "Admin")">
        <span>Reports</span>
      </a>

      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("EditBranch", "Admin")">
        <span>Branch Info</span>
      </a>

    </div>

    <h2>Appointment Details</h2>

    <p>
      Name:<input />
    </p>

    <p>
      Phone:<input />
    </p>

    <p>
      Email:<input />
    </p>

    <p>
      Date:<input />
    </p>

    <p>
      Time:<input />
    </p>

    <p>
      Appointment Type:
      <select id="ctlQuestions" tabindex="11">
        <option value="">Select Reason</option>
        <option value="Checking">Checking</option>
        <option value="Savings">Savings</option>
        <option value="IRA">IRA</option>
        <option value="Loans">Loans</option>
        <option value="Other">Other</option>
      </select>
    </p>

    <p>
      Notes:<input />
    </p>


    <a class="btn submit custbtn" href="@Url.Action("AppointmentInfo", "Admin")">
      <span>Back</span>
    </a>

    <a class="btn submit custbtn" href="@Url.Action("AppointmentInfo", "Admin")">
      <span>Submit Changes</span>
    </a>




  </div>
</div>