﻿@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="header-banner-wrapper">
  <div class="adminMainContent">



    <div>
      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("Search", "Admin")">
        <span>Search Appointments</span>
      </a>

      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("Reports", "Admin")">
        <span>Reports</span>
      </a>

      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("EditBranch", "Admin")">
        <span>Branch Info</span>
      </a>

    </div>

      <p>Branch ON/OFF: <input type="radio" /> </p>
      <!--
      <input type="checkbox" data-role="flipswitch" name="switch" id="switch" data-wrapper-class="custom-size-flipswitch">
      -->

      <p>Days:</p>

      <p>Times:</p>

      <p>
        <strong>Appointment Types:</strong><br>
        Checking & Savings <input type="checkbox" name="CheckingSavings" value="ON" /> <br>
        Mortgage <input type="checkbox" name="Mortgage" value="ON" /> <br>
        Loans <input type="checkbox" name="Loans" value="ON" /> <br>
        Other <input type="checkbox" name="Other" value="ON" />
      </p>


      <p><strong>Contact Info:</strong><br>Phone Number:<input /></p>


      <a class="btn submit custbtn" href="#">
        <span>Save Changes</span>
      </a>




    </div>
  </div>