﻿@using System.Web.UI.WebControls
@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<a class="btn submit custbtn" href="@Url.Action("Search", "Admin")">
  <span>Search <br> Appointments</span>
</a>

<a class="btn submit custbtn" href="@Url.Action("Reports", "Admin")">
  <span>Reports</span>
</a>

<a class="btn submit custbtn" href="@Url.Action("EditBranch", "Admin")">
  <span>Branch Info</span>
</a>
