﻿@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="header-banner-wrapper">
  <div class="adminMainContent">


    <div>
      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("Search", "Admin")">
        <span>Search Appointments</span>
      </a>

      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("Reports", "Admin")">
        <span>Reports</span>
      </a>

      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("EditBranch", "Admin")">
        <span>Branch Info</span>
      </a>

    </div>

    <div>
      <p>First Name:<input /></p>

      <p>Last Name:<input /></p>

      <p>Confirmation#:<input /></p>

      <p>Email:<input /></p>


      <p>Date:<input /></p>

      <p>Branch:<input /></p>

      <p>Type:<input /></p>

    </div>

    <a class="btn submit custbtn" href="#">
      <span>Run Report</span>
    </a>



  </div>
</div>