﻿@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="header-banner-wrapper">
  <div class="adminMainContent">



    <div>
      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("Search", "Admin")">
        <span>Search Appointments</span>
      </a>

      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("Reports", "Admin")">
        <span>Reports</span>
      </a>

      <a id="topBtn" class="btn submit custbtn" href="@Url.Action("EditBranch", "Admin")">
        <span>Branch Info</span>
      </a>

    </div>

    <h1 class='text-center'>Search Appointments</h1>

    <div class='text-center'>
      <p>
        First Name:
        <input />
      </p>

      <p>
        Last Name:
        <input />
      </p>

      <p>
        Email:
        <input />
      </p>

      <p>OR</p>

      <p>
        Confirmation #:
        <input />
      </p>
    </div>


    <a class="btn submit custbtn" href="@Url.Action("AppointmentInfo", "Admin")">
      <span>Search</span>
    </a>


  </div>
</div>