/* buttons ***** */
/* buttons ***** */
/* buttons ***** */
a.btn,
button.btn,
span.btn {
  background-color:#b3b3b3;
  border-color:#4D5953;
  color:#fff;
}
a.submit,
a.btn.brand, /* for tran code */
button.submit,
button.btn.brand, /* for tran code */
li.submit,
li.btn.brand, /* for tran code */
span.submit,
span.btn.brand, /* for tran code */
.main-content button.submit,
.main-content button.btn.brand  /* for tran code */ {
  background-color:#4aaa42;
  border-color:#006533;
}
a.alternate,
button.alternate,
li.alternate,
span.alternate {
  background-color:#d28e00;
  border-color:#906636;
}
a.btn-disabled,
a.btn-disabled:hover,
button.btn-disabled,
span.btn-disabled {
  background-color:#ccc;
  color:#e6e7e8;
}
/* buttons ***** */
