.main-content a:link, 
.main-content a:visited,
.main-content #rates .product-spotlight a:link,
.main-content #rates .product-spotlight a:visited {
  color:#4aaa42;
}
.main-content a[href]:hover,
.main-content a[href]:active,
.main-content #rates a[href]:hover,
.main-content #rates a[href]:active {
  color:#d28e00;
}
.main-content h1 {
  color:#4aaa42;
}
.main-content h2 {
  color:#063;
}
.main-content h2 a {
  color:#4aaa42;
}
.main-content h3 {
  color:#063;
}
.main-content ul > li,
.main-content ul.layout ul > li {
  background-image:url(../img/bullet-square-4aaa42.png);
}
.main-content caption {
  color:#063;
}
.main-content .comparison1 tr.horizontal th.table-title {
  background-color:#063;
}
.main-content #rates table th,
.main-content table.horizontal th {
  background-color:#063;
  border-color:#00351a;

	background: #063;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.33) 100%) #063; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.33))) #063; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%) #063; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%) #063; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%) #063; /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%) #063; /* W3C */
}
#next-column:hover {
	background-color:#D28E00;
}
#previous-column:hover {
	background-color:#D28E00  ;
}

.main-content table.checking {
  width:1040px;
}
.main-content table.savings {
  width:650px;
}
.main-content table.bussavings {
  width:780px;
}
.main-content table.buschecking {
  width:1300px;
}

.main-content .comparison tr.horizontal th.table-title {
  background-color:#063;
}
.main-content table.comparison td {
  color:#4aaa42;
}
.main-content table.comparison td .unlimited {
  color:#4aaa42;
}
.main-content .tab-panes .tabs a { 
  color:#063;
}
.main-content .tab-panes .tabs a:hover {
	color:#d28e00;
}	
.main-content .tab-panes .tabs a.current {
  background:#4aaa42;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%) #4aaa42; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0))) #4aaa42; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%) #4aaa42; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%) #4aaa42; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%) #4aaa42; /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%) #4aaa42; /* W3C */
}
.main-content .tab-panes .panes {
  border-top:5px solid #4aaa42;
}
.main-content .tab-panes h2 {
  color: #4aaa42;
}
.main-content .accordion-container.active h3.trigger {
  color:#4aaa42;
}
.tooltip-set1 .tooltip {
	background-color:#063;
}
.tooltip-set1 .tooltip h3 {
	background-color:#063;
}
.tooltip-set2 .tooltip h3 {
	background-color:#4aaa42;
}
.tooltip-set3 .tooltip {
	background-color:#4aaa42;
  border-color:#086700;
}
.main-content .header.banner h1,
.main-content .header.banner h1 span#banner-rate {
  color:#063;
}
.main-content .header.banner h1 span {
  color:#4aaa42;
}
.main-content .careers .banner {
	background-color:#006e51;
}





/* callout ***** */
/* callout ***** */
/* callout ***** */
.main-content div.callout h2.callout,
.main-content div.callout h3.callout,
.main-content div.callout h4.callout,
.main-content div.callout h5.callout,
.main-content div.callout h6.callout {
  background-color:#063;
  color:#fff;
  margin-bottom:0;
  padding:10px;
  
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;   
}
.main-content div.callout .content {
  background-color:#e6e7e8;
  padding:10px;

  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;   
}
/* callout ***** */







/* from tran brand.css ***** */
/* from tran brand.css ***** */
/* from tran brand.css ***** */
.main-content .icon.expand, 
.main-content .icon.collapse {
  background-color:#090;
}
.main-content .toggle-trigger {
  color:#4aaa42;
}
.main-content .toggle-panel .toggle-trigger.expand {
  background-color:#efefef;
  color:#666;
}
.main-content .toggle-panel .toggle-trigger.collapse,
.main-content .toggle-panel .toggle-trigger:hover {
  background-color:#e6e7e8;
}
/* from tran brand.css ***** */
