/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -2em;
}
.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 2em;
}
/* Custom widths are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch {
    width: 4em;
}
.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
    padding-left: 4em;
    width: 1em;
}

.nav .adminIndex{
  position:relative; 
  margin:0 auto; 
  width:960px;
}

.adminIndex{
  margin: 70px;
  text-align: center;
}

.adminIndex a{
  background-image: none;
}


.adminIndex a span{
  height: 100px;
  width: 250px;
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
  box-shadow: inset 0px 0px 50px #326D2D;
}

.adminMainContent{
  text-align: center;
}

#topBtn{
  height: 40px;
  width: 125px;
  font-size: 20px;
  box-shadow: inset 0px 0px 50px #326D2D;
  background-image: none;
  margin: 10px;
}



