.btnsubmit {
color: #fff;
background-color: #4aaa42;
border-color: #006533;
cursor: pointer;
display: block;
font-family: Arial, Helvetica, sans-serif;
font-size: small;
font-weight: bold!important;
margin: 0;
overflow: visible;
padding: 2px 5px;
text-align: center;
outline: 0;
line-height: 1.2;
text-transform: uppercase;

background-image: url(https://www.firstnational.com/config/img/bg-button.png);
background-position: top;
background-repeat: repeat-x;
border: 1px solid #006533;
border-radius: 4px;
display: inline-block;
margin: 0 3px 6px;
text-decoration: none;
outline: 0;
font-style: inherit;
vertical-align: top;
box-shadow: 0 2px 5px #888;
}

.btnsubmit:hover {
  background-image: none;
}

.customerInfoFixedWidth{
  width: 80px;
}

.notebox {
  height: 55px;
  width: 695px;
}