#section2 form span.btn,
.product a.apply span,
.nav .category > li.here {
  background-color:#063;
}
.nav .category > a {
  color:#063;
}

/* login area ***** */
/* login area ***** */
/* login area ***** */
#section2 h2 {
    background-color: #063;
    color: #fff;
}
#section2 #login form input, 
#section2 #login form select {
    border-color: #000;
}
#section2 #login .btn {
    color: #fff;
}
#section2 #login a.btn, 
#section2 #login form span.btn {
  background-color: #6B6B6B;
  background-image: url(../img/bg-button.png);
  background-position: center top;
  background-repeat: repeat-x;
  border-color: #353537;
  border-radius:4px;
}
#section2 #login .btn-login a.btn,
#section2 #login form .btn-login span.btn {
    background-image: url(../img/bg-button.png);
    background-position:top;
    border-color: #063;
    border-radius:4px;

}
#section2 #login .btn-login .btn {
    background-color: #4aaa42;
}
#section2 #login .btn-login .btn input {
    background-color: transparent;
    background-image: url(../img/icon-lock-homepage.png);
    background-position: 70px center;
    background-repeat: no-repeat;
}
#section2 #login .btn-login .btn input:hover {
    background-color: #063;
}
#section2 #login .logged-in .btn-login .btn input:hover {
    background-color: #4aaa42;
}

/* login area ***** */

#idmdown {
	margin:5px;
	border:1px solid #4c5a52;
	height:150px;
	background-color:#0d723c;
}

.idm-text {
	color:#fff;
	font-size:16px;
	margin:5px 10px;
}

/* logged in */
/* logged in */
#section2 .logged-in h2 {
  background-color:#063;
}
#section2 #login .logged-in a#lastBankingAppLink {
  background-color:#b3b3b3;
  border-color:#4D5953;
  width:88px;
}
#section2 #login .logged-in a#lastBankingAppLink span {
  text-align:left;
}
#section2 #login .logged-in .btn-logout span {
    background-image: url(../img/icon-lock.html);
}
/* logged in */



/* login area ***** */

/* nav ***** */
/* nav ***** */
/* nav ***** */
#section2 .nav h2 {
  background-color:transparent;
  color:#063;
}
/* nav ***** */

.audience-switcher a.here,
.audience-switcher span.here {
  color:#4aaa42;
}
#section1 {
  border-bottom-color:#c1d82f;
}
#masthead {
  border-bottom-color:#4aaa42;
}
#masthead .utility a:hover {
  color:#d28e00;
}
#section2 .nav li a:hover{
  color:#d28e00;
}
#section2 .nav li span {
  color:#4aaa42;
}
#section2 .nav li a:hover span.here {
  color:#d28e00;
}
#section2 div.module h2 {
	background: #d28e00;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.17) 100%) #d28e00; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.17))) #d28e00; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.17) 100%) #d28e00; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.17) 100%) #d28e00; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.17) 100%) #d28e00; /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.17) 100%) #d28e00; /* W3C */
}
#section2 div.module a:hover {
  color:#d28e00;
}
#section2 .contact-us .phone-toll-free,
#section2 .contact-us .phone-number-primary,
#section2 .contact-us .hours-operation {
  color:#063;
}
#section2 .contact-usblock h4 {
  color:#063;
}
#section2 .contact-usblock a {
	color: #4aaa42;
}
#section2 .traffic-driver span.btn {
  background-color:#4AAA42;
}
#section2 .static-links li a {
	color:#4aaa42;
}
#section2 .static-links li a:hover {
  color:#d28e00;
}
#section2 .cross-sell {
  background-color:#cfc;
  border-color:#4aaa42;
}
