﻿@using System.Web.Razor.Parser.SyntaxTree
@{
  ViewBag.Title = "Home Page";
}

<div class="header-banner-wrapper">
  <div class="content">
    <h1>Cancel Appointment</h1>

    <h2></h2>

    <p>
      Are you sure you want to cancel your appointment?
    </p>

    <a class="btn submit custbtn" href="@Url.Action("CancelConfirmation", "Lookup")">
      <span>Yes</span>
    </a>

    <a class="btn submit custbtn" href="@Url.Action("Details", "Lookup")">
      <span>No</span>
    </a>

  </div>
</div>