﻿@using System.Web.Razor.Parser.SyntaxTree
@{
  ViewBag.Title = "Home Page";
}

<div class="header-banner-wrapper">
  <div class="content">

    <h1>Cancel Appointment</h1>

    <h2>We're sorry to see you go!</h2>

    <p>
      Your appointment has been canceled.
      <br>
      An email confirmation has been sent to you.
    </p>

    <a class="btn submit custbtn" href="@Url.Action("Index", "Home")">
      <span>Menu</span>
    </a>

  </div>
</div>