﻿@using System.Web.Razor.Parser.SyntaxTree
@{
  ViewBag.Title = "Home Page";
}

<div class="header-banner-wrapper">
  <div class="content">
    <h1>Change Appointment Details</h1>

    <h2></h2>

    <p>
      Name:<input />
    </p>

    <p>
      Phone:<input />
    </p>

    <p>
      Email:<input />
    </p>

    <p>
      Date:<input />
    </p>

    <p>
      Time:<input />
    </p>

    <p>
      Appointment Type:
      <select class="form-control">
        <option value="one">Select Reason</option>
        <option value="two">Checking</option>
        <option value="three">Savings</option>
        <option value="four">IRA</option>
        <option value="five">Loans</option>
      </select>
    </p>

    <p>
      Notes:<input />
    </p>

    <a class="btn submit custbtn" href="@Url.Action("Details", "Lookup")">
      <span>Back</span>
    </a>

    <a class="btn submit custbtn" href="@Url.Action("Confirmation", "Lookup")">
      <span>Submit</span>
    </a>

  </div>
</div>