﻿@using System.Web.Razor.Parser.SyntaxTree
@{
  ViewBag.Title = "Home Page";
}

<div class="header-banner-wrapper">
  <div class="content">
    <h1>Appointment Updated</h1>
    <h2>Thank you!</h2>
    <p>
      Your appointment has been updated.
      <br>
      An email confirmation has been sent to you.
    </p>

    <p>
      Confirmation #:
    </p>

    <p>
      What to bring with you:
    </p>


    <a class="btn submit custbtn" href="@Url.Action("Index", "Home")">
      <span>Menu</span>
    </a>

    <a class="btn submit custbtn" href="javascript:window.print()">
      <span>Print</span>
    </a>

  </div>

















</div>