﻿@using System.Web.Razor.Parser.SyntaxTree
@{
  ViewBag.Title = "Home Page";
}

<div class="header-banner-wrapper">
  <div class="content">
    <h1>Appointment Details</h1>

    <h2></h2>

    <p>
      Name:
    </p>

    <p>
      Phone:
    </p>

    <p>
      Email:
    </p>

    <p>
      Date:
    </p>

    <p>
      Time:
    </p>

    <p>
      Appointment Type:
    </p>

    <p>
      Confirmation#:
    </p>

    <p>
      Notes:
    </p>

    <a class="btn submit custbtn" href="@Url.Action("Change", "Lookup")">
      <span>Edit</span>
    </a>

    <a class="btn submit custbtn" href="@Url.Action("Rechedule", "Lookup")">
      <span>Reschedule</span>
    </a>

    <a class="btn submit custbtn" href="@Url.Action("Cancel", "Lookup")">
      <span>Cancel</span>
    </a>

  </div>
</div>
