﻿@using System.Web.Razor.Parser.SyntaxTree
@{
  ViewBag.Title = "Home Page";
}

<div class="header-banner-wrapper">
  <div class="content">
    <h1>Lookup Appointment</h1>

    <h2></h2>

    <p>
      First Name:
      <input id="fName" />
    </p>

    <p>
      Last Name:
      <input id="lName" />
    </p>

    <p>
      Email:
      <input id="email" />
    </p>


    <a class="btn submit custbtn" href="@Url.Action("Index", "Home")">
      <span>Back</span>
    </a>

    <a class="btn submit custbtn" href="@Url.Action("Details", "Lookup")">
      <span>Lookup</span>
    </a>

  </div>
</div>