﻿@using System.Web.Razor.Parser.SyntaxTree
@{
  ViewBag.Title = "Home Page";
}

<div class="header-banner-wrapper">
  <div class="content">
    <h1>Reschedule</h1>
    <h2></h2>
    <p>

    </p>

    <a class="btn submit custbtn" href="@Url.Action("Details", "Lookup")">
      <span>Back</span>
    </a>

    <a class="btn submit custbtn" href="@Url.Action("Confirmation", "Lookup")">
      <span>Submit</span>
    </a>

  </div>
</div>